@using OddWorks.Models
@model List<Message>
@{
    ViewBag.Title = "Meddelanden";
}
<div style="margin: 0px auto; width: 600px; border: 1px solid #000;">
    <h2>Meddelanden</h2>
    <table>
        <tr>
            <td>Meddelande</td><td>Mottaget</td>
        </tr>
        @foreach (var message in Model) {
            <tr>
                <td>@message.Content</td>
                <td>@message.Date</td>
            </tr>
        }
    </table>
</div>
