<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="ConnectionString" value="Data Source=|DataDirectory|OddWork.sdf;Persist Security Info=False;"/>
      <add key="DataDirectory" value="..\..\..\OddWorks\App_Data\"/>
    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
